<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Lalitmohan_Maintenance::maintenance" title="Maintenance Mode" module="Lalitmohan_Maintenance" sortOrder="998" parent="Magento_Backend::stores" resource="Lalitmohan_Maintenance::manage503"/>
		<add id="Lalitmohan_Maintenance::maintenance_rules" title="Adjust Settings" module="Lalitmohan_Maintenance" sortOrder="10" parent="Lalitmohan_Maintenance::maintenance" action="maintenance/adjustsettings" resource="Lalitmohan_Maintenance::manage503"/>
    </menu>
</config>